body {
    width: 100%;
    animation: changeBg 10s linear infinite;    
    display: grid;
    place-items: center;
    color: black;
    font-family: 'Roboto', sans-serif;

}
@keyframes changeBg {
    0% {
        background-image: url(seaBg.png);
        background-size: cover;
    }
    20% {
        background-image: url(deepSeaBg.png);
        background-size: cover;
    }
    40% {
        background-image: url(bloomBg.png);
        background-size: cover;
    }
    60% {
        background-image: url(orangeBg.png);
        background-size: cover;
    }
    80% {
        background-image: url(sunsetBg.png);
        background-size: cover;
    }
    100% {
        background-image: url(seaBg.png);
        background-size: cover;
    }
}

/* landing page */

.start-button-container{
    text-align: center;
    padding-top: 50px;
}

#type-quiz {
    font-size: 45px;
    text-align: center; 
    padding-top: 100px;
    font-weight: bold;
}

#headline{
    font-size: 35px;
    text-align: center;
    font-family: cursive;
    padding-top: 30px;
    font-weight: bold;
}

#quiz-intro{
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

#quiz-intro-descr{
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

#s-button{
    font-size: 20px;
    
}

/*first form*/

#q-1-head{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

.options{
   font-size: 20px; 
   margin-left: 30px;
   
}

.inputcircle {
    margin-left: 40px;
}

#bodyinputs {
    margin-top: 50px;
}

#next-1 {
    margin-left: 30px;
}

/*second form */

#q-2-head{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
    font-family: cursive;
}

.options2{
    font-size: 20px; 
   margin-left: 30px;
}

.inputcircle2{
    margin-left: 40px;
}

#bodyinputs2{
    margin-top: 50px;
}

#next-2{
    margin-left: 30px;
}

/*third form*/

#q-3-head{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

.options3{
    font-size: 20px; 
   margin-left: 30px;
}

.inputcircle3{
    margin-left: 40px; 
}

#bodyinputs3{
    margin-top: 50px;
}

#next-3{
    margin-left: 30px;
}

/*fourth form*/

#q-4-head{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

.options4{
    font-size: 20px; 
   margin-left: 30px;
}

.inputcircles4{
    margin-left: 40px; 
}

#bodyinputs4{
    margin-top: 50px;
}

#next-4{
    margin-left: 30px;
}

/*fifth form*/

#q-5-head{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
}

.options5{
    font-size: 20px; 
   margin-left: 30px;
}

.inputcircles5{
    margin-left: 30px; 
    
}

#bodyinputs5{
    margin-top: 50px;
    
}

#next-5{
    margin-left: 20px;
} 

/*bonus form*/

#q-6-head{
    font-size: 35px;
    text-align: center;
    padding-top: 100px;
} 

.options6{
    font-size: 20px; 
    margin-left: 30px;
}

.inputcircles6{
    margin-left: 40px; 
}

#bodyinputs6{
    margin-top: 50px;
    
}

#next-6{
    margin-left: 30px;
}


/*result page*/
#movie-rec-container{
    font-family: cursive;
}


h4 {
    padding: 0px 10px;
    font-size: 32px;
}

